
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <ngx-product-search-list (productSelect)="onQuickProductSelect($event)"
                             [allProducts]="allProducts"
                             [productsList]="productList"
                             [quickProducts]="quickProducts"></ngx-product-search-list>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <ngx-customer-card></ngx-customer-card>
  </div>
</div>
