
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
    <ngx-product-search-list (productSelect)="onQuickProductSelect($event)"
                             [allProducts]="allProducts"
                             [productsList]="productList"
                             [quickProducts]="quickProducts"></ngx-product-search-list>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 col-xxl-9">
    <ngx-customer-card></ngx-customer-card>
  </div>
</div>
