<nb-accordion>
  <nb-accordion-item #quickProductAccordion [collapsed]="false">
    <nb-accordion-item-header>Shopping Cart & Billing Details</nb-accordion-item-header>
    <nb-accordion-item-body [nbSpinner]="showBusyIndicator" nbSpinnerMessage="Please Wait..." nbSpinnerSize="xxlarge">


      <nb-card class="inline-form-card">
        <nb-card-header>Shopping Cart ({{source.count()}} Products Selected)</nb-card-header>
        <nb-card-body>
          <ng2-smart-table (deleteConfirm)="onDeleteConfirm($event)"
                           (editConfirm)="onEditConfirm($event)"
                           [settings]="settings"
                           [source]="source"></ng2-smart-table>
        </nb-card-body>
      </nb-card>


      <nb-card _nghost-c26="" class="inline-form-card">
        <nb-card-header>
          <p>Billing Details</p>
          <label class="bill-details-label text-muted mr-5 ml-3">Total without Discount : {{bill.totalWithOutDiscount}}
            ,</label>
          <label class="bill-details-label text-muted mr-5 ml-3">Total with Discount : {{bill.totalWithDiscount}}
            ,</label>
          <label class="bill-details-label text-muted mr-5">Discount Amount : {{bill.discountAmount}},</label>
          <label class="bill-details-label text-muted mr-5">Amount Paid: {{bill.paid}},</label>
          <label class="bill-details-label text-dark font-w-bold">Amount Due: {{bill.due}}</label>
        </nb-card-header>
        <nb-card-body>
          <form class="form-row">

            <div class="col-6">
              <div class="form-group">
                <label>Discount</label>
                <input (ngModelChange)="updateDiscountAmount($event)"
                       [ngModel]="bill.discountPercentage"
                       class="form-control"
                       mask="000"
                       name="discountAmount"
                       prefix="% "
                       type="text">
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label>Amount Paid</label>
                <!--ngxLimitToMax-->
                <input (ngModelChange)="updatePaidAmount($event)"
                       [(ngModel)]="bill.paid"
                       class="form-control"
                       name="amountPaid"
                       type="number">
              </div>
            </div>

          </form>
        </nb-card-body>
      </nb-card>


      <div class="mt-3">
        <button class="btn-info btn-outline mr-3 pointer" nbbutton outline>Print Preview</button>
        <button class="btn-primary btn-outline mr-3 pointer" nbbutton outline>Print</button>
        <button class="btn-danger btn-outline mr-3 pointer" nbbutton outline>Cancel Order</button>
        <button class="btn-success btn-outline mr-3 pointer" nbbutton outline>Check-out</button>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
