<div class="row">
  <div class="col-12">
    <form #customerForm="ngForm"
          (reset)="resetCustomerData()"
          (submit)="saveCustomer()"
          *ngIf="refreshForm"
          class="row" novalidate>

      <!-- First Name & Last Name -->
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <div class="form-group">
          <label for="customerName">First Name & Last Name <span class="text-danger">*</span></label>
          <input [(ngModel)]="customer.name"
                 [defaultValue]="defaultCustomer.name"
                 class="form-control"
                 id="customerName"
                 name="customerName"
                 placeholder="First Name & Last Name"
                 required
                 type="text">
        </div>
      </div>

      <!-- Age -->
      <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <div class="form-group">
          <label for="customerAge">Date of Birth (MM/DD/YYYY)<span class="text-danger">*</span></label>
          <input [(ngModel)]="customer.dateOfBirth"
                 [defaultValue]="defaultCustomer.dateOfBirth"
                 class="form-control"
                 id="customerAge"
                 name="customerAge"
                 placeholder="Age"
                 required type="date">
        </div>
      </div>

      <!--Gender-->
      <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <div class="form-group">
          <label for="customerGender">Gender <span class="text-danger">*</span></label>
          <select [(ngModel)]="customer.gender"
                  class="form-control"
                  id="customerGender"
                  name="customerGender"
                  required>
            <option value="">Select Gender</option>
            <option [defaultSelected]="defaultCustomer.gender=='male'" value="male">Male</option>
            <option [defaultSelected]="defaultCustomer.gender=='female'" value="female">Female</option>
          </select>
        </div>
      </div>

      <!--Email-->
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <div class="form-group">
          <label for="customerEmail">Email</label>
          <input [(ngModel)]="customer.email"
                 [defaultValue]="defaultCustomer.email"
                 class="form-control"
                 id="customerEmail"
                 name="customerEmail" placeholder="Email"
                 type="email">
        </div>
      </div>

      <!--Mobile Number-->
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <div class="form-group">
          <label for="customerMobile">Mobile Number <span class="text-danger">*</span></label>
          <input [(ngModel)]="customer.mobile"
                 [defaultValue]="defaultCustomer.mobile"
                 class="form-control"
                 id="customerMobile"
                 mask="00 000 00 000"
                 prefix="+91 "
                 name="customerMobile"
                 placeholder="Mobile Number"
                 required
                 type="tel">
        </div>
      </div>

      <!--Referrer-->
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <div class="form-group">
          <label for="customerReferrer">Referrer</label>
          <input [(ngModel)]="customer.referrer"
                 [defaultValue]="defaultCustomer.referrer"
                 class="form-control"
                 id="customerReferrer"
                 name="customerReferrer"
                 placeholder="Referrer"
                 type="text">
        </div>
      </div>

      <!--Address-->
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <div class="form-group">
          <label for="customerAddress">Address</label>
          <textarea [(ngModel)]="customer.address"
                    [defaultValue]="defaultCustomer.address"
                    class="form-control"
                    id="customerAddress"
                    name="customerAddress"
                    placeholder="Enter Address"></textarea>
        </div>
      </div>

      <!--Remarks-->
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <div class="form-group">
          <label for="customerRemarks">Remarks</label>
          <textarea [(ngModel)]="customer.remarks"
                    [defaultValue]="defaultCustomer.remarks"
                    class="form-control"
                    id="customerRemarks"
                    name="customerRemarks"
                    placeholder="Enter Remarks"></textarea>
        </div>
      </div>
      <!-- Save & Reset Button -->
      <div class="col-12 text-right">
        <button (click)="newCustomerForm(customerForm)" class="btn btn-success mr-3" type="button">New</button>
        <button *ngIf="customer.id" [disabled]="customerForm.invalid || isUpdateInvalid()" class="btn btn-primary mr-3"
                type="submit">Update
        </button>
        <button *ngIf="!customer.id" [disabled]="customerForm.invalid" class="btn btn-primary mr-3" type="submit">Add &
          Select
        </button>
        <button class="btn btn-secondary" type="reset">Reset</button>
      </div>

    </form>
  </div>

</div>
