<nb-accordion>
  <nb-accordion-item #quickProductAccordion [collapsed]="false">
    <nb-accordion-item-header>
      Customer Details

      <nb-user *ngIf="selectedCustomer && selectedCustomer.name"
               [badgeText]="selectedCustomer.gender|uppercase"
               [name]="selectedCustomer.name"
               [title]="selectedCustomer.mobile"
               badgePosition="bottom start"
               class="ml-5"
               size="large"></nb-user>

    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="row">
        <div class="col-3">
          <input [(ngModel)]="searchText"
                 class="form-control mb-1"
                 placeholder="Search by mobile"
                 type="text">
          <nb-list class="border-light border" style="overflow-y: auto;max-height: 315px;">
            <nb-list-item (click)="updateSelectedCustomer(customer)"
                          *ngFor="let customer of (customerService.customers | filterBy: ['mobile']: searchText)"
                          class="pointer">
              <nb-user [badgeText]="customer.gender|uppercase"
                       [name]="customer.name"
                       [title]="customer.mobile"
                       badgePosition="bottom start"
                       size="large"></nb-user>
            </nb-list-item>
          </nb-list>
        </div>
        <div class="col-9">
          <ngx-add-new-customer (onReset)="onCustomerSave($event)"
                                (onSave)="onCustomerSave($event)"></ngx-add-new-customer>
        </div>
      </div>

    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
