<nb-accordion>
  <nb-accordion-item #quickProductAccordion [collapsed]="false">
    <nb-accordion-item-header>
      Customer Details

      <nb-user *ngIf="selectedCustomer && selectedCustomer.name"
               [badgeText]="selectedCustomer.gender|uppercase"
               [name]="selectedCustomer.name"
               [title]="selectedCustomer.mobile"
               badgePosition="bottom start"
               class="ml-5"
               size="large"></nb-user>

    </nb-accordion-item-header>
    <nb-accordion-item-body [nbSpinner]="showBusyIndicator" nbSpinnerMessage="Please Wait..." nbSpinnerSize="xxlarge">
      <div class="row">
        <div class="col-3">
          <ngx-customers-list [(selectedCustomer)]="selectedCustomer"
                              [(showBusyIndicator)]="showBusyIndicator">
          </ngx-customers-list>
        </div>
        <div class="col-9">
          <ngx-add-new-customer (onReset)="onCustomerSave($event)"
                                [(showBusyIndicator)]="showBusyIndicator"
                                (onSave)="onCustomerSave($event)">
          </ngx-add-new-customer>
        </div>
      </div>

    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
