<nb-card [size]="breakpoint.width >= breakpoints.xxxl || breakpoint.width < breakpoints.md ? 'large' : 'xlarge'">
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Contacts">
      <div *ngFor="let c of contacts" class="contact">
        <nb-user [name]="c.user.name" [picture]="c.user.picture" [title]="c.type" size="large"></nb-user>
        <i class="i-contact nb-phone"></i>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Recent">
      <div *ngFor="let c of recent" class="contact">
        <nb-user [name]="c.user.name" [picture]="c.user.picture" [title]="c.type" size="large"></nb-user>
        <span class="time">{{ c.time }}</span>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>
